<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hilla Demo</title>
    <!-- Minified version -->
<!--    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">-->
</head>
<body>
<header>
    <h1>Hilla Demo with Keycloak</h1>
    <nav>
        <a th:href="@{/client/helloWorld}" class="current">Login</a>
    </nav>
</header>
<main>
    <p class="notice">
       This is a demo of Keycloak
    </p>
</main>
<footer>
    <p>
        Hilla Demo by <a href="https://www.linkedin.com/in/alan-barrientos/">Alan Barrientos</a> <br>
    </p>
</footer>
</body>
</html>